{
  "extends": [
    "next/core-web-vitals",
    "plugin:testing-library/react",
    "plugin:jest-dom/recommended",
    "@remix-run/eslint-config",
    "@remix-run/eslint-config/node"
  ],
  "rules": {
    "@typescript-eslint/consistent-type-imports": [
      "warn",
      {
        "disallowTypeAnnotations": false
      }
    ],
    "no-unused-vars": "off",
    "@typescript-eslint/no-unused-vars": [
      "warn",
      { "vars": "all", "args": "all", "argsIgnorePattern": "^_", "varsIgnorePattern": "^_" }
    ]
  },
  "overrides": [
    {
      "files": ["*.typegen.ts"],
      "rules": {
        "@typescript-eslint/ban-types": [
          "error",
          {
            "types": {
              // un-ban a type that's banned by default
              "{}": false
            },
            "extendDefaults": true
          }
        ]
      }
    }
  ]
}
